---
import Section from "../Section.astro"
import { splitByNewline } from "@/utils/utils.ts"
import { work } from "@/cv.json"
---

<Section title="Work Experience">
  <ul>
    {
      work
      .filter(({ area }) => area === "Computer Science")
      .map(
        ({ company, startDate, endDate, position, summary, highlights, url }) => {
          const startMonthYear = new Date(startDate).toLocaleDateString(undefined, { month: 'short', year: 'numeric' })
          const endMonthYear =
            endDate != null ? new Date(endDate).toLocaleDateString(undefined, { month: 'short', year: 'numeric' }) : "Currently"
          const monthsBetween = Math.floor(((endDate != null ? new Date(endDate).getTime() : new Date().getTime()) - new Date(startDate).getTime()) / (1000 * 60 * 60 * 24 * 30))
          const years = Math.floor(monthsBetween / 12);
          const months = monthsBetween % 12;

          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>{position}</h3>
                    <h4>
                      <a href={url} title={`Visit ${company}`} target="_blank">
                        {company}
                      </a>
                    </h4>
                  </div>

                  <div>
                    <time 
                      datetime={startDate}
                      data-title={startDate}>
                        {startMonthYear}
                    </time>
                    {" - "}
                    <time 
                      datetime={endDate}
                      data-title={endDate}>
                        {endMonthYear}
                    </time>
                    <p class="duration">({years > 0 ? `${years}y ` : ''}{`${months}m`})</p>
                  </div>
                </header>

                <footer>
                  <p>{splitByNewline(summary).map((line: string) => <p class="justify-text">{line}</p>)}</p>
                  <p class="highlight">
                    {highlights.map((highlight) => {
                      return <span>{highlight}</span>
                    })}
                  </p>
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 700;
    color: #111;
    margin-bottom: 8px;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    color: #222;
    font-weight: 500;
    margin-bottom: 4px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
    text-align: right;
    cursor: default;
  }

  [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease-in-out 0.5s;
    visibility: visible;
  }

  [data-title]:after {
    content: attr(data-title);
    background-color: #333;
    color: #fff;
    font-size: .75rem;
    font-family: Menlo, Monaco, Lucida Console, "Courier New", monospace;;
    position: absolute;
    padding: .2rem .5rem;
    bottom: -1.4rem;
    left: 50%;
    white-space: nowrap;
    box-shadow: 1px 1px 1px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
  }

  [data-title] {
    position: relative;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }

  .duration {
    text-align: right;
    font-size: 0.7em;
    font-style: italic;
    margin-top: 2px;
  }

  .highlight {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
  }

  .highlight span {
    border-radius: 6px;
    background: #eee;
    color: #444;
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
    margin: 0.1rem;
    white-space: nowrap;
  }

  @media print {
    .highlight span {
      border: 1px solid #000;
      padding: 0.2rem 0.6rem;
      margin: 0.1rem;
    }
  }
</style>
